/* 修复主页流体盒子排列问题 */
html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

#viki-main-container {
    flex: 1;
}

/* 正常调整 */
code {
    font-family: mononoki, Consolas, Monaco, Monospace, Courier;
    color: #8ec371;
}

pre code {
    color: #6b97bf;
    background-color: #343a45;
    font-family: mononoki, Consolas, Monaco, Monospace, Courier;
}

blockquote {
    color: #4a4a4a;
}

blockquote p {
    color: #4a4a4a;
}

.viki-navbar {
    background-color: #66ccff;
}

/* iframe嵌入自适应 */
.embed-iframe {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; 
}

.embed-iframe iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
